@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
	background: white;
	
}
*{
  box-sizing: border-box;
}
ul {
    list-style-type: none;
    display: inline-block;
}

li, .navbarItems{
    color: white;
}
.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}


/* =========== Header ========== */

.navBar li{
    display: flex;
    padding: 0px 20px;
    list-style: none;
}


.navBar li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navBar li a:hover{
    color: #ffde59;
}


.logoOfNav {
    cursor: pointer;
    max-width: 10%;
    margin-right:auto;
	padding: 10px;
}

.lineOfNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
}

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    background-color: #343a40;
    align-items: center;
    font-color: white;
	height: 150px;
}
.hlg {
	height: 100px;
}



.header_menu_link {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #343a40 !important;
    color: #fcffff !important;
    border: 3px solid #343a40 !important;
    border-radius: 30px !important;
    font-size: 16px !important;
    padding: 15px 50px !important; 
    transition: all 0.8s ease !important;
}
.header_menu_link:hover{
    text-decoration: none !important; 
    background-color: #343a40 !important;
    color: #ffff00 !important;
    border-color: #343a40 !important;
}

.btn {
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.btn1{
	padding-left: 30px;
	padding-top: 20px;
}

.btn2{
	padding-left: 30px;

}




/* ======= first ========== */

.first {
  margin-top: -25px;
  height: 800px;
  background: #fff url("images\\123.jpg") center no-repeat;
  padding: 110px 30%;
}

.title_back {
  background: #343a40;
  opacity: .75;
  border-radius: 20px;
  padding: 70px 0;
}



.title {
  color: white;
  font-size: 28px;
  opacity: .95;
  display: flex;
  word-wrap: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title1{
  color: white;
  height: 20px;
  font-size: 20px;
  opacity: .95;
  display: flex;
  word-wrap: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.border {
  padding: 0 30%;
}

.shop_btn_link {
  text-decoration: none;
  color: white;
}

.shop_btn {
  background: black;
  opacity: .8;
  margin-top: 50px;
  padding: 21px;
  border-radius: 35px;
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
  align-items: center;
  justify-content: center;

  transform: opacity .1s linear;
  transform: background .1s linear;
}

.shop_btn:hover {
  opacity: 1;
  background: yellow;
}


.signbtn{
	margin-bottom: 20px;
	margin-top: 15px;
	margin-left: 30px;
}

.signbtn1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    padding: 5px;
    background-color: rgb(255, 222, 89);
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signbtn1:hover{
    background-color: rgb(255, 255, 255);
}


/* ======= features ========== */
.photo {
	height: 200px;
}
 
.photo1 {
	margin-top: 20px;
	padding-left: 40px;
	height: 50px;
}

.product-title {
	text-align:center;
	font-family: monospace;
}

.product-img {
	height: 200px;
}

.price {
	text-align:start;
	font-size: 20px;
	font-family: monospace;
	
}



.features {
  font-family: 'Arial';
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;
}

.feat_item {
  padding: 15px;
  width: 33.3333%;
  text-align: center;
  margin: 35px 0;
}
.feat_text2 {
	color: white;
	text-align: center;
}

.table {
	 margin-top:50px;
	margin-bottom: 50px;
}

/* ======= footer ========== */

footer {
  padding-top: 70px;
  background: #343a40;
  font-family: 'Raleway';
}

.footer_inside {
	
  display: flex;
  flex-wrap: wrap;
}

.footer_item {
  color: white;
  width: 31%;
}

.italic {
  font-family: 'Arial';
  font-style: italic;
}

.logotipi {
  	
  text-align: end;
}

.madeby {
  color: white;
  margin-top: 50px;
  font-size: 12px;
  padding-bottom: 20px;
  text-align: right;
  font-style: italic;
}

.what{
	color: white;
}

.inst{
	color: white;
}

.face{
	color: white;
}
